<!DOCTYPE html>
<html>
<head>
    <title>七鱼测试代理平台</title>
    <meta name="description" content="网易旗下的网易七鱼致力于通过客服机器人为企业客户降低企业管理成本,提升客服工作效率,提高客户满意度,随时随地解决客户问题">
    <meta name="keywords" content="在线客服,呼叫中心,客服管理,客服机器人,云客服">
    <link href=/static/css/app.09a1926c3e1fa1d3bf46904b192444a6.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/static/js/manifest.ba6cdce46c600feca8ba.js></script>
<script type=text/javascript src=/static/js/vendor.b34ce0ad36aacd8cd777.js></script>
<script type=text/javascript src=/static/js/app.1e3f97b5645431183854.js></script>
</body>
</html>
