<!DOCTYPE html>
<html>
  <head>
    <title>Mock API Setting Platform</title>
    <link href=/static/css/app.d151b97820ec1657bb98f7d52187524a.css rel=stylesheet>
  </head>
  <body>
  <div id=app></div>
  <script type=text/javascript src=/static/js/manifest.e68931843b2a08b5a581.js></script>
  <script type=text/javascript src=/static/js/vendor.e19a319a6b6d1b4063bf.js></script>
  <script type=text/javascript src=/static/js/app.7b27a26c5f066080e585.js></script>
  </body>
</html>
