<!DOCTYPE html>
<html>
  <head>
    <title>Mock API Setting Platform</title>
    <link href=/static/css/app.d151b97820ec1657bb98f7d52187524a.css rel=stylesheet>
  </head>
  <body>
  <div id=app></div>
  <script type=text/javascript src=/static/js/manifest.1af56db689fbf5e3919d.js></script>
  <script type=text/javascript src=/static/js/vendor.815abac2e7722bdefb8a.js></script>
  <script type=text/javascript src=/static/js/app.faae3c11e09d5a85c3e8.js></script>
  </body>
</html>
